@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/fonts/CenturyGothic/CenturyGothic.eot');
    src: local('Century Gothic'), local('CenturyGothic'),
        url('/assets/fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
        url('/assets/fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
        url('/assets/fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/fonts/CenturyGothic/CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/fonts/CenturyGothic/CenturyGothic-BoldItalic.eot');
    src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-BoldItalic.woff') format('woff'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/fonts/CenturyGothic/CenturyGothic-Italic.eot');
    src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Italic.woff2') format('woff2'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Italic.woff') format('woff'),
        url('/assets/fonts/CenturyGothic/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

p, span, a {
    font-family: "Noto Sans", sans-serif;
}

body {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(216,239,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(216,239,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(216,239,255,1) 100%);
    position: relative;
    background-repeat: no-repeat;
    min-height: 100vh;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 97px;
        width: 100%;
        background: url('/assets/header-vector.svg');
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
    }
}