.content {
    width: 100%;
    margin: 0 0 100px 0;
    padding: 0 45px 10px 0;

    &__title {
        height: 110px;
        padding: 18px 0 0 45px;

        color: #01457A;
        font-size: 2.5rem;

        background-image: url("/assets/h-vector.svg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
    }
}